* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
}
ul {
  border: none;
  list-style: none; /*Уберает маркеры*/
}

a {
  text-decoration: none;
  color: black;
}

.page {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-block {
  display: flex;
  align-items: center;
}
.title-img {
  width: 15%;
}
.phone {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(45deg, #ff0303, #f0f005, #f57003, #2f12af);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.phone-img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.product-img {
  display: flex;
  width: 350px;
  gap: 100px;
}
.product-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-name {
  text-align: center;
  justify-content: center;
}

.footer-line {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px solid darkred;
}

.product {
  display: flex;
  gap: 130px;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.footer-menu-list {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-text {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer-menu-list-item-link-img {
  width: 50px;
  height: 50px;
}
#eat-click-number2 {
  margin-top: 150px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section-name {
    margin-top: 0;
  }
  .product {
    width: 38%;
    margin-left: 35px;
    margin-right: 35px;
  }
  .product-voda {
    width: 38%;
    margin-left: 35px;
    margin-right: 35px;
  }
  #eat-click-number1 {
    font-size: 24px;
  }
  #eat-click-number2 {
    font-size: 24px;
  }
}

@media (min-width: 431px) and (max-width: 767px) {
  .products {
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .product {
    width: 90%;
  }
  .product-voda {
    width: 90%;
  }
}
@media (max-width: 430px) {
  .section-name {
    margin-top: 0;
  }
  .product {
    width: 80%;
  }
  .product-voda {
    width: 80%;
  }
  #eat-click-number1 {
    margin-left: 10px;
    font-size: 18px;
  }
  #eat-click-number2 {
    margin-left: 10px;
    font-size: 18px;
  }
  #footer-menu-info {
    flex-direction: column;
  }
  .footer-menu {
    display: flex;
    flex-direction: column;
  }
}
